<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>VueJS Course Work Assignment 4</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>


<div id="exercise">
   1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference <br/>
  <div>
    <button @click="show = !show">Toggle</button>
    <p v-if="show">You either see me ...</p>
    <p v-else>...or me</p>
    <p v-show="show">You either see me ...</p>
    <p v-show="!show">...or me</p>
  </div>
  Output an <ul> of array elements of your choice. Also print the index of each element. <br/>
  <ul>
    <li v-for="(name, index) in array">{{ name }}: ({{index}})/li>
  </ul>
  Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item.<br/>
  <ul>
    <li v-for="(value, key, index) in myObject ">{{ key }}: {{value}} - {{index}} /li>
  </ul>
  4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this)
  <ul>
    <li v-for="(value, key) in testData">
      <span v-if="key!='data'">{{value}}<br/></span>
      <span v-else v-for="item in value">
        {{item}}<br/>
      </span>

    </li>
  </ul>
</div>


    <script src="../../../js/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>
