<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>VueJS</title>
    <link rel="stylesheet" href="">
    <style>

    </style>
    <script src="../../js/vue.js"></script>
</head>
<body>
    <div id="app">
      <p v-if="show">You can see me!<span>Hello!</span></p>
      <p v-show="show">Now you see me!</p>
      <template v-if="show">
        <h1>Heading</h1>
        <p>inside a template</p>ß
      </template>
      <p>Do you also see me?</p>
      <button @click="show = !show">Switch</button>
    </div>
    <script>
        new Vue ({
            el: '#app',
            data:{
              show: true
            }

        });
    </script>
</body>
</html>

