<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>VueJS</title>
    <link rel="stylesheet" href="">
    <style>

    </style>
    <script src="../../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
          <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>

        </ul>
        <hr>
        <ul>
          <li v-for="person in persons">
              <span v-for="(value, key, index) in person"> {{ key }}: {{ value }} ({{index}})</span>
          </li>
          </ul>

        <hr>
        <span v-for="n in 10">{{n }}</span>

        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
    </div>
    <script>
        new Vue ({
            el: '#app',
            data:{
              ingredients : ['meat', 'fruit','cookies'],
              persons: [
                {name: 'Max', age: 27, color: 'red'},
                {name: 'Anna', age: 'unknown', color: 'blue'}
              ]
            }

        });
    </script>
</body>
</html>

